
body div{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

header, form{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

main{
  width: 100%;
   display: flex;
  flex-flow: column wrap;
  align-items: center;
}