
body div{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

header, form{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

main{
  width: 100%;
   display: flex;
  flex-flow: column wrap;
  align-items: center;
}